/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	height: 100vh;
  	margin: 0;
  	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button {
	background-color: #3882F6;
	border: 2px solid #3882F6;
	color: white;
	border-radius: 5px;
	padding: 5px;
	padding-left: 40px;
	padding-right: 40px;
}

/* Class based styles */
.header,
.upper-section,
.middle-top-section,
.middle-low-section,
.lower-section,
.footer {
	display: flex;
	justify-content: center;
}

.upper-section,
.middle-top-section {
	padding-bottom: 75px;
}

.middle-low-section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.header {
	flex-direction: column;
	align-items: center;
	background-color: #1f2937;
}

.header-top {
	display: flex;
	justify-content: space-between;
	padding: 15px;
}

.header-top,
.upper-section {
	width: 1000px;
}

.logo {
	font-size: 24px;
	color: #F9FAf8;
}

.upper-links {
	display: flex;
	list-style-type: none;
	gap: 20px;
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: #E5E7EB;
}

.upper-section{
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 20px;
}

.upper-left p {
	font-size: 18px;
	color: #E5E7EB;
}

.upper-left button {
	margin-top: 5px;
}

.upper-img-container {
	background-color: rgb(115, 115, 115);
	width: 467px;
	height: 313px;
}

.upper-img-container img {
	width: 467px;
	height: 313px;
}

.middle-top-section {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-txt-containers {
	display: flex;
	gap: 50px;
}

.img-txt {
	width: 150px;
	text-align: center;
}

.img-container {
	border-radius: 10px;
	border: 4px solid #3882F6;
	width: 150px;
	height: 150px;
}

.middle-low-section {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E5E7EB;
}

.quote-container {
	display: flex;
	flex-direction: column;
}

.quote {
	font-size: 36px;
	font-style: italic;
	width: 825px;
	margin-bottom: 20px;
}

.quote-author {
	font-weight: bold;
	align-self: flex-end;
	padding-right: 20px;
	font-size: 20px;
}

.lower-section {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 125px;
	width: 1000px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	padding-top: 40px;
	padding-bottom: 40px;
	border-radius: 5px;
	background-color: #3882F6;
	font-size: 18px;
	color: white;
}

.lower-section button {
	border: 3px solid white;
	padding-left: 25px;
	padding-right: 25px;
}

.lower-left p {
	margin-top: 0;
	margin-bottom: 0;
}

.footer {
	padding: 30px;
	background-color: #1f2937;
	font-size: 18px;
	color: #E5E7EB;
}

/* Id based styles */
#main-title {
	width: 400px;
	font-size: 48px;
	font-weight: bolder;
	color: #F9FAF8;
	margin-bottom: 0;
}

#main-text {
	width: 450px;
}

#info-title {
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
}

#call {
	font-weight: bold;
	padding-bottom: 10px;
}