@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* General */
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Main Sections*/
.header,
.top{
    display: flex;
    flex-direction: column;
}
.middle{
    display: flex;
    flex-direction: column;
}


/* Sub-sections*/
.header-top-container{
    display: flex;
    justify-content: space-evenly;
}
.header-middle-container{
    display: flex;
    justify-content: space-evenly;
}
.info-container{
    display: flex;
    justify-content: space-evenly;
}


/*Test Area*/

